Ade33/*
Ade33EventsEngine/*
Ade33Hardware/*
Ade33HwTester/*
Ade33LogicEngine/*
Ade33Patch/*
Ade33TimingEngine/*
FM24C64B/*
avrfix/*
CD4051/*
MCP3208/*
mozz_rand/*
SimpleSDAudio/*
MCP23S17/*
Adafruit_FRAM_I2C-master/*
Adafruit-MCP23017-Arduino-Library-master.rar
Adafruit-MCP23017-Arduino-Library-master.zip
Adafruit-MCP23017-Arduino-Library-master/*
CapacitiveSensor/*
DA8568C-master pre-modify.zip
DA8568C-master.zip
DA8568C-master/*
FM24C64B/*
MCP42XXX/*
MIDI_ARDUINO/*
MIDI_OLD/*
TimerThree/*
USB_Host_Shield_2.0-master/*
USBH_MIDI-master/*
