Ade33/*
Ade33EventsEngine/*
Ade33Hardware/*
Ade33HwTester/*
Ade33LogicEngine/*
Ade33Patch/*
Ade33TimingEngine/*
AteOsc/*
AteOscEngine/*
AteOscHardware/*
AteOscHardwareTester/*
AteOscOscillator/*
AteOscPatch/*
AteOscPitch/*
FM24C64B/*
avrfix/*
CD4051/*
MCP3208/*
mozz_rand/*
Adafruit_FRAM_I2C-master/Adafruit_FRAM_I2C.cpp
Adafruit_FRAM_I2C-master/Adafruit_FRAM_I2C.h
Adafruit_FRAM_I2C-master/examples/MB85RC256V/MB85RC256V.ino
Adafruit_FRAM_I2C-master/LICENSE
Adafruit_FRAM_I2C-master/README.md
Adafruit-MCP23017-Arduino-Library-master.rar
Adafruit-MCP23017-Arduino-Library-master.zip
Adafruit-MCP23017-Arduino-Library-master/Adafruit_MCP23017.cpp
Adafruit-MCP23017-Arduino-Library-master/Adafruit_MCP23017.h
Adafruit-MCP23017-Arduino-Library-master/examples/button/button.ino
Adafruit-MCP23017-Arduino-Library-master/examples/interrupt/interrupt.ino
Adafruit-MCP23017-Arduino-Library-master/examples/toggle/toggle.ino
Adafruit-MCP23017-Arduino-Library-master/keywords.txt
Adafruit-MCP23017-Arduino-Library-master/license.txt
Adafruit-MCP23017-Arduino-Library-master/README.txt
CapacitiveSensor/CapacitiveSensor.cpp
CapacitiveSensor/CapacitiveSensor.h
CapacitiveSensor/examples/CapacitiveSensorSketch/CapacitiveSensorSketch.pde
CapacitiveSensor/keywords.txt
CapacitiveSensor/README.md
DA8568C-master pre-modify.zip
DA8568C-master.zip
DA8568C-master/DA8568C.cpp
DA8568C-master/DA8568C.h
DA8568C-master/keywords.txt
DA8568C-master/LICENSE
DA8568C-master/README.md
DA8568C-master_OLD_PROTO/DA8568C.cpp
DA8568C-master_OLD_PROTO/DA8568C.h
DA8568C-master_OLD_PROTO/keywords.txt
DA8568C-master_OLD_PROTO/LICENSE
DA8568C-master_OLD_PROTO/README.md
FM24C64B/FM24C64B.cpp
FM24C64B/FM24C64B.h
MCP42XXX/.DS_Store
MCP42XXX/MCP42XXX.cpp
MCP42XXX/MCP42XXX.h
MIDI_ARDUINO/examples/MIDI_Basic_IO/MIDI_Basic_IO.ino
MIDI_ARDUINO/examples/MIDI_Bench/MIDI_Bench.ino
MIDI_ARDUINO/examples/MIDI_Callbacks/MIDI_Callbacks.ino
MIDI_ARDUINO/examples/MIDI_DualMerger/MIDI_DualMerger.ino
MIDI_ARDUINO/examples/MIDI_Input/MIDI_Input.ino
MIDI_ARDUINO/examples/MIDI_SimpleSynth/.DS_Store
MIDI_ARDUINO/examples/MIDI_SimpleSynth/MIDI_SimpleSynth.ino
MIDI_ARDUINO/examples/MIDI_SimpleSynth/noteList.cpp
MIDI_ARDUINO/examples/MIDI_SimpleSynth/noteList.h
MIDI_ARDUINO/examples/MIDI_SimpleSynth/pitches.h
MIDI_ARDUINO/keywords.txt
MIDI_ARDUINO/MIDI.cpp
MIDI_ARDUINO/MIDI.h
MIDI_ARDUINO/MIDI.hpp
MIDI_ARDUINO/midi_Defs.h
MIDI_ARDUINO/midi_Message.h
MIDI_ARDUINO/midi_Namespace.h
MIDI_ARDUINO/midi_Settings.h
MIDI_OLD/keywords.txt
MIDI_OLD/MIDI.cpp
MIDI_OLD/MIDI.h
MIDI_OLD/MIDI.hpp
MIDI_OLD/midi_Defs.h
MIDI_OLD/midi_Message.h
MIDI_OLD/midi_Namespace.h
MIDI_OLD/midi_Settings.h
TimerThree/config/known_16bit_timers.h
TimerThree/examples/FanSpeed/FanSpeed.pde
TimerThree/examples/Interrupt/Interrupt.pde
TimerThree/keywords.txt
TimerThree/README.md
TimerThree/TimerThree.cpp
TimerThree/TimerThree.h
USB_Host_Shield_2.0-master/.gitattributes
USB_Host_Shield_2.0-master/.gitignore
USB_Host_Shield_2.0-master/.gitmodules
USB_Host_Shield_2.0-master/address.h
USB_Host_Shield_2.0-master/adk.cpp
USB_Host_Shield_2.0-master/adk.h
USB_Host_Shield_2.0-master/avrpins.h
USB_Host_Shield_2.0-master/BTD.cpp
USB_Host_Shield_2.0-master/BTD.h
USB_Host_Shield_2.0-master/BTHID.cpp
USB_Host_Shield_2.0-master/BTHID.h
USB_Host_Shield_2.0-master/cdc_XR21B1411.cpp
USB_Host_Shield_2.0-master/cdc_XR21B1411.h
USB_Host_Shield_2.0-master/cdcacm.cpp
USB_Host_Shield_2.0-master/cdcacm.h
USB_Host_Shield_2.0-master/cdcftdi.cpp
USB_Host_Shield_2.0-master/cdcftdi.h
USB_Host_Shield_2.0-master/cdcprolific.cpp
USB_Host_Shield_2.0-master/cdcprolific.h
USB_Host_Shield_2.0-master/confdescparser.h
USB_Host_Shield_2.0-master/controllerEnums.h
USB_Host_Shield_2.0-master/examples/acm/acm_terminal/acm_terminal.ino
USB_Host_Shield_2.0-master/examples/acm/acm_terminal/pgmstrings.h
USB_Host_Shield_2.0-master/examples/adk/adk_barcode/adk_barcode.ino
USB_Host_Shield_2.0-master/examples/adk/ArduinoBlinkLED/ArduinoBlinkLED.ino
USB_Host_Shield_2.0-master/examples/adk/demokit_20/demokit_20.ino
USB_Host_Shield_2.0-master/examples/adk/term_test/term_test.ino
USB_Host_Shield_2.0-master/examples/adk/term_time/term_time.ino
USB_Host_Shield_2.0-master/examples/Bluetooth/BTHID/BTHID.ino
USB_Host_Shield_2.0-master/examples/Bluetooth/BTHID/KeyboardParser.h
USB_Host_Shield_2.0-master/examples/Bluetooth/BTHID/MouseParser.h
USB_Host_Shield_2.0-master/examples/Bluetooth/PS3BT/PS3BT.ino
USB_Host_Shield_2.0-master/examples/Bluetooth/PS3Multi/PS3Multi.ino
USB_Host_Shield_2.0-master/examples/Bluetooth/PS3SPP/PS3SPP.ino
USB_Host_Shield_2.0-master/examples/Bluetooth/PS4BT/PS4BT.ino
USB_Host_Shield_2.0-master/examples/Bluetooth/SPP/SPP.ino
USB_Host_Shield_2.0-master/examples/Bluetooth/SPPMulti/SPPMulti.ino
USB_Host_Shield_2.0-master/examples/Bluetooth/Wii/Wii.ino
USB_Host_Shield_2.0-master/examples/Bluetooth/WiiIRCamera/WiiIRCamera.ino
USB_Host_Shield_2.0-master/examples/Bluetooth/WiiMulti/WiiMulti.ino
USB_Host_Shield_2.0-master/examples/Bluetooth/WiiUProController/WiiUProController.ino
USB_Host_Shield_2.0-master/examples/board_qc/board_qc.ino
USB_Host_Shield_2.0-master/examples/cdc_XR21B1411/XR_terminal/XR_terminal.ino
USB_Host_Shield_2.0-master/examples/ftdi/USBFTDILoopback/pgmstrings.h
USB_Host_Shield_2.0-master/examples/ftdi/USBFTDILoopback/USBFTDILoopback.ino
USB_Host_Shield_2.0-master/examples/HID/le3dp/le3dp.ino
USB_Host_Shield_2.0-master/examples/HID/le3dp/le3dp_rptparser.cpp
USB_Host_Shield_2.0-master/examples/HID/le3dp/le3dp_rptparser.h
USB_Host_Shield_2.0-master/examples/HID/scale/scale.ino
USB_Host_Shield_2.0-master/examples/HID/scale/scale_rptparser.cpp
USB_Host_Shield_2.0-master/examples/HID/scale/scale_rptparser.h
USB_Host_Shield_2.0-master/examples/HID/USBHID_desc/pgmstrings.h
USB_Host_Shield_2.0-master/examples/HID/USBHID_desc/USBHID_desc.ino
USB_Host_Shield_2.0-master/examples/HID/USBHIDBootKbd/USBHIDBootKbd.ino
USB_Host_Shield_2.0-master/examples/HID/USBHIDBootKbdAndMouse/USBHIDBootKbdAndMouse.ino
USB_Host_Shield_2.0-master/examples/HID/USBHIDBootMouse/USBHIDBootMouse.ino
USB_Host_Shield_2.0-master/examples/HID/USBHIDJoystick/hidjoystickrptparser.cpp
USB_Host_Shield_2.0-master/examples/HID/USBHIDJoystick/hidjoystickrptparser.h
USB_Host_Shield_2.0-master/examples/HID/USBHIDJoystick/USBHIDJoystick.ino
USB_Host_Shield_2.0-master/examples/hub_demo/hub_demo.ino
USB_Host_Shield_2.0-master/examples/hub_demo/pgmstrings.h
USB_Host_Shield_2.0-master/examples/max_LCD/max_LCD.ino
USB_Host_Shield_2.0-master/examples/pl2303/pl2303_gprs_terminal/pl2303_gprs_terminal.ino
USB_Host_Shield_2.0-master/examples/pl2303/pl2303_gps/pl2303_gps.ino
USB_Host_Shield_2.0-master/examples/pl2303/pl2303_tinygps/pl2303_tinygps.ino
USB_Host_Shield_2.0-master/examples/pl2303/pl2303_xbee_terminal/pl2303_xbee_terminal.ino
USB_Host_Shield_2.0-master/examples/PS3USB/PS3USB.ino
USB_Host_Shield_2.0-master/examples/PS4USB/PS4USB.ino
USB_Host_Shield_2.0-master/examples/PSBuzz/PSBuzz.ino
USB_Host_Shield_2.0-master/examples/testusbhostFAT/Makefile
USB_Host_Shield_2.0-master/examples/testusbhostFAT/README.md
USB_Host_Shield_2.0-master/examples/testusbhostFAT/testusbhostFAT.ino
USB_Host_Shield_2.0-master/examples/USB_desc/pgmstrings.h
USB_Host_Shield_2.0-master/examples/USB_desc/USB_desc.ino
USB_Host_Shield_2.0-master/examples/Xbox/XBOXOLD/XBOXOLD.ino
USB_Host_Shield_2.0-master/examples/Xbox/XBOXONE/XBOXONE.ino
USB_Host_Shield_2.0-master/examples/Xbox/XBOXRECV/XBOXRECV.ino
USB_Host_Shield_2.0-master/examples/Xbox/XBOXUSB/XBOXUSB.ino
USB_Host_Shield_2.0-master/gpl2.txt
USB_Host_Shield_2.0-master/hexdump.h
USB_Host_Shield_2.0-master/hid.cpp
USB_Host_Shield_2.0-master/hid.h
USB_Host_Shield_2.0-master/hidboot.cpp
USB_Host_Shield_2.0-master/hidboot.h
USB_Host_Shield_2.0-master/hidescriptorparser.cpp
USB_Host_Shield_2.0-master/hidescriptorparser.h
USB_Host_Shield_2.0-master/hiduniversal.cpp
USB_Host_Shield_2.0-master/hiduniversal.h
USB_Host_Shield_2.0-master/hidusagestr.h
USB_Host_Shield_2.0-master/hidusagetitlearrays.cpp
USB_Host_Shield_2.0-master/keywords.txt
USB_Host_Shield_2.0-master/library.json
USB_Host_Shield_2.0-master/macros.h
USB_Host_Shield_2.0-master/masstorage.cpp
USB_Host_Shield_2.0-master/masstorage.h
USB_Host_Shield_2.0-master/max_LCD.cpp
USB_Host_Shield_2.0-master/max_LCD.h
USB_Host_Shield_2.0-master/max3421e.h
USB_Host_Shield_2.0-master/message.cpp
USB_Host_Shield_2.0-master/message.h
USB_Host_Shield_2.0-master/parsetools.cpp
USB_Host_Shield_2.0-master/parsetools.h
USB_Host_Shield_2.0-master/printhex.h
USB_Host_Shield_2.0-master/PS3BT.cpp
USB_Host_Shield_2.0-master/PS3BT.h
USB_Host_Shield_2.0-master/PS3Enums.h
USB_Host_Shield_2.0-master/PS3USB.cpp
USB_Host_Shield_2.0-master/PS3USB.h
USB_Host_Shield_2.0-master/PS4BT.h
USB_Host_Shield_2.0-master/PS4Parser.cpp
USB_Host_Shield_2.0-master/PS4Parser.h
USB_Host_Shield_2.0-master/PS4USB.h
USB_Host_Shield_2.0-master/PSBuzz.cpp
USB_Host_Shield_2.0-master/PSBuzz.h
USB_Host_Shield_2.0-master/README.md
USB_Host_Shield_2.0-master/settings.h
USB_Host_Shield_2.0-master/sink_parser.h
USB_Host_Shield_2.0-master/SPP.cpp
USB_Host_Shield_2.0-master/SPP.h
USB_Host_Shield_2.0-master/Usb.cpp
USB_Host_Shield_2.0-master/Usb.h
USB_Host_Shield_2.0-master/usb_ch9.h
USB_Host_Shield_2.0-master/UsbCore.h
USB_Host_Shield_2.0-master/usbhost.h
USB_Host_Shield_2.0-master/usbhub.cpp
USB_Host_Shield_2.0-master/usbhub.h
USB_Host_Shield_2.0-master/version_helper.h
USB_Host_Shield_2.0-master/Wii.cpp
USB_Host_Shield_2.0-master/Wii.h
USB_Host_Shield_2.0-master/WiiCameraReadme.md
USB_Host_Shield_2.0-master/xboxEnums.h
USB_Host_Shield_2.0-master/XBOXOLD.cpp
USB_Host_Shield_2.0-master/XBOXOLD.h
USB_Host_Shield_2.0-master/XBOXONE.cpp
USB_Host_Shield_2.0-master/XBOXONE.h
USB_Host_Shield_2.0-master/XBOXRECV.cpp
USB_Host_Shield_2.0-master/XBOXRECV.h
USB_Host_Shield_2.0-master/XBOXUSB.cpp
USB_Host_Shield_2.0-master/XBOXUSB.h
USBH_MIDI-master/README.md
USBH_MIDI-master/usbh_midi.cpp
USBH_MIDI-master/usbh_midi.h
