Source: libmcp3208
Section: libraries
Priority: extra
XBSC-Group: Analog
XBSC-Subgroup: ADC
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libmcp3208
Provides: MCP3208.h
Architecture: all
Description: MCP3208 library

